:root {
    --laurel-green: rgb(144, 160, 137);
    --purple-navy: hsla(231, 26%, 34%, 1);
    --raw-umber: hsla(25, 21%, 42%, 1);
    --redwood: hsla(9, 38%, 49%, 1);
    --flame: hsla(16, 82%, 56%, 1);
}


body{
    background-color: #f1f1f1;
}
.header {
    background-color: var(--redwood);
}
.highlight {

    border-radius: 10%;
    background-color: var(--redwood);
    
}
.navb {
    background-color: var(--raw-umber);
}
.flame {background-color: var(--flame);}

.skills {background-color: var(--laurel-green);}
.img1 {
    float:right;
    border-color: var(--laurel-green);
    border-style:outset;
    border-width: 10px;
}
ul{
    list-style: none;
    padding: 0px;
}